<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ansible luks format external usb disk</title>
<meta name="generator" content="Org mode">
<meta name="author" content="Osiris Alejandro Gómez">
<link rel="stylesheet" type="text/css" href="osiux.css" />
<link rel="stylesheet" type="text/css" href="osiux.css" />
</head>
<body>
<main id="content">
<h1 class="title">ansible luks format external usb disk</h1>
<p>
<a href="index.html">index</a> |
<a href="osiux.html">OSiUX</a> |
<a href="archive.html">archive</a> |
<a href="charlas.html">charlas</a> |
<a href="docs.html">docs</a> |
<a href="links.html">links</a>
</p>

<p>
<a href="dot.html"><code>dot</code></a> |
<a href="git.html"><code>git</code></a> |
<a href="img.html"><code>img</code></a> |
<a href="plt.html"><code>plt</code></a> |
<a href="tty.html"><code>tty</code></a> |
<a href="uml.html"><code>uml</code></a>
</p>


<section id="outline-container-orgf1cc2e9" class="outline-2">
<h2 id="orgf1cc2e9">Empezamos mal!</h2>
<div class="outline-text-2" id="text-orgf1cc2e9">
<p>
Hoy es mi primer día de laburo del 2021 y arranqué mal, mi querida
<span class="underline">cachaza</span> (una notebook <span class="underline">ASUS Q324UAK</span>) se apagó 3 veces en menos de
2hs de laburo, aparentemente por alto consumo de <span class="underline">CPU/IO</span> y dado el
calor reinante, todo me lleva a pensar que es un problema de
temperatura, seguramente una limpieza le vendría bien, después de casi
4 años de funcionamiento interrumpido!
</p>
</div>
</section>

<section id="outline-container-org855bf3b" class="outline-2">
<h2 id="org855bf3b">Hay Backup?</h2>
<div class="outline-text-2" id="text-org855bf3b">
<p>
Si bien ya conseguí un destornillador de esos muy precisos y logré
quitar los 10 tornillos <span class="underline">tork</span>, antes de terminar de desarmarla, recordé
que <b><b>NO tengo un backup completo y actualizado!</b></b>
</p>

<p>
Asi que, con ayuda expeditiva, me hice de un disco externo usb 3.0 de
4TB (aunque internamente tiene un poco bastante menos), pero <span class="underline">OjO</span> antes
de copiar algo, esta el temita del cifrado de disco, es mi sana y
paranoica costumbre, cifrar los discos antes de comenzar a usarlos :)
</p>
</div>
</section>

<section id="outline-container-org7683bcd" class="outline-2">
<h2 id="org7683bcd">Automatizando la Paranoia!</h2>
<div class="outline-text-2" id="text-org7683bcd">
<p>
De casualidad, recordé que tengo un rol de Ansible que nunca publiqué
justo en este disco, si ese que no se cuánto va a seguir funcionando en
la notebook que se apaga todo el tiempo (al menos hoy) y seguramente
además no debo tener copia alguna del rol&#x2026;
</p>

<p>
Con unos muy pocos cambios logré cifrar el nuevo disco externo usando el
rol que en algún momento pensé y desarrollé, al cual solo le falta pulir
un poco, pero que en muy pocos pasos ya me resolvió la tarea!
</p>
</div>
</section>

<section id="outline-container-org5b197bb" class="outline-2">
<h2 id="org5b197bb">Tres pasos son&#x2026; y no hay más&#x2026;</h2>
<div class="outline-text-2" id="text-org5b197bb">
<ol class="org-ol">
<li>Conectar el disco y detectar su <code>id</code>:</li>
</ol>

<pre class="example">

ls -1 /dev/disk/by-id/ | grep sdb1
usb-WD_Elements_1234_567890123456789012345678-0:0-part1 ⇒ ../../sdb1

</pre>

<ol class="org-ol">
<li>Definir la variable <code>gcoop_luks_devices</code>:</li>
</ol>

<div class="org-src-container">
<pre class="src src-yaml">
<span style="font-weight: bold; font-style: italic;">gcoop_luks_devices</span>:
  - <span style="font-weight: bold; font-style: italic;">dev</span>:  <span style="font-style: italic;">'/dev/sdb1'</span>
    <span style="font-weight: bold; font-style: italic;">pass</span>: <span style="font-style: italic;">"{{ lookup('pass', 'luks/' + ansible_hostname + '/' + 'usb-WD_Elements_1234_567890123456789012345678-0:0-part1' + gcoop_luks_pass_opts ) }}"</span>
    <span style="font-weight: bold; font-style: italic;">name</span>: <span style="font-style: italic;">'data'</span>

</pre>
</div>

<ol class="org-ol">
<li>Ejecutar el rol <code>gcoop-libre.luks</code>:</li>
</ol>

<pre class="example">

# make
ANSIBLE_PASS_PASSWORD_STORE_DIR=$HOME/.password-store ansible-playbook  -i tests/inventory tests/test.yml

PLAY [test] ***********************************************************

TASK [Gathering Facts] ************************************************
ok: [cachaza]

TASK [gcoop-libre.luks : install cryptsetup] **************************
ok: [cachaza]

TASK [gcoop-libre.luks : verify is exists /dev/sdb1] ******************
ok: [cachaza]

TASK [gcoop-libre.luks : create /root/tmpfs] **************************
changed: [cachaza]

TASK [gcoop-libre.luks : unmount /root/tmpfs] *************************
ok: [cachaza]

TASK [gcoop-libre.luks : mount /root/tmpfs] ***************************
changed: [cachaza]

TASK [gcoop-libre.luks : write keyfile] *******************************
changed: [cachaza]

TASK [gcoop-libre.luks : stat] ****************************************
ok: [cachaza]

TASK [gcoop-libre.luks : luksFormat /dev/sdb1] ************************
changed: [cachaza]

TASK [gcoop-libre.luks : verify isOpen /dev/sdb1] *********************
ok: [cachaza]

TASK [gcoop-libre.luks : luksOpen /dev/sdb1] **************************
skipping: [cachaza]

TASK [gcoop-libre.luks : wipe /root/tmpfs/keyfile] ********************
changed: [cachaza]

TASK [gcoop-libre.luks : unmount "/root/tmpfs"] ***********************
changed: [cachaza]

TASK [gcoop-libre.luks : delete /root/tmpfs] **************************
changed: [cachaza]

PLAY RECAP ************************************************************
cachaza                : ok=14   changed=7    unreachable=0
                         failed=0    skipped=1    rescued=0    ignored=0

</pre>
</div>
</section>

<section id="outline-container-orgd49d1a6" class="outline-2">
<h2 id="orgd49d1a6">liberando <code>gcoop.luks</code></h2>
<div class="outline-text-2" id="text-orgd49d1a6">
<p>
Solo falta un pequeño <span class="underline">refactor</span> para pulir y poder liberar el rol.
</p>

<p>
&#x2026;continuará&#x2026;
</p>
</div>
</section>
</main>
<footer id="postamble" class="status">
<p class="author">Author: Osiris Alejandro Gómez (<a href="mailto:osiux@osiux.com">osiux@osiux.com</a>)</p>
<p class="date">Date: 2021-01-25 17:50</p>
<p class="creator"><a href="https://www.gnu.org/software/emacs/">Emacs</a> 27.1 (<a href="https://orgmode.org">Org</a> mode 9.3)</p>
<p class="validation"></p>
</footer>
</body>
</html>
